

<div class="wrapper">
  <div class="Container">
        <div class="nav">
            <div class="logo">
                RedField
            </div>
            <div class="menu">
                <ul class="navMenu">
                    <li><a >My Offers</a></li>
                    <li><a (click)= 'redirect()' >My Profile</a></li>
                    <li><a (click)='rediracteTo()'>Offers</a></li>
                    <li><a (click)='logout()' >Sign out</a></li>
                    <div class="textyy">
                      <h1>About As </h1>
                      <p>We are the kind of website that offer you to create your busneses and to own your time
                        If you need any services that can offer you helep or to make your life easier you can choose
                        her any services that can handel you issue and to win your time fell free to connect as and you are most
                        welcome to visit as !
                      </p>
                    </div>
                    <div>
                    <i class="phone icon"></i>
                    <i class="comment alternate icon"></i>
                  </div>

                </ul>
            </div>
        </div>
    </div>
</div>
