<div class="wrapper">
  <div class="Container">
        <div class="nav">
            <div class="logo">
                RedField
            </div>
            <div class="menu">
                <ul class="navMenu">
                    <li><a  (click)="functionIn()">Signin</a></li>
                    <li><a  (click)="functionON()" >Registration</a></li>
                </ul>
            </div>
        </div>
        <div class="header">
            <h1>The Spark Services</h1>
            <p> Find the perfect freelance services for your business</p>
            <button type="button">Welcome</button>
        </div>
    </div>
</div>
