<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RedFild</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul></div>
      <div class="d-flex">
        <button  class="outline-success" type="submit">SignIn</button>
        <button (click)="functionON()" class="outline-success" type="submit">SignUp</button>
      </div>

  </div>
</nav> -->


<!-- <div class="ui inverted menu uii" >
  <a (click)="functionHome()" class="active item">
    RedField
  </a>

  <a (click)="functionIn()" class="active item laa" type="submit">
    SignIn
  </a>
  <a class="active item lou">
    Offers
  </a>
  <a (click)="functionON()" class="active item lii" type="submit">
    SignUp
  </a>

  <!-- <button  class="sign" type="submit"></button> -->
  <!-- <button (click)="functionON()" class="outline-success" type="submit">SignUp</button> -->

