.profile-container {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  position:fixed;
 left: 5px;

}
.ui{
  font-size: 20px;
  padding-left: 30px;
  margin-left: 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 5px -10px;
  margin: 0 5px;
  transition: 0.5s ease;
  font-weight: 400;

}

/* delete and edit button */
.delEd {
  margin-top: 20px;
  margin-left: 30px;

}
/* for user picture */
.pic {
  margin-top: 20px;
  float: right;
  background-color: black;
  margin-right: 40px;
}

/* for user informations */
.info {
  margin-top: 180px;
  float: center;
background-color: black;
}
