

<div class="wrapper">
  <div class="Container">
        <div class="nav">
            <div class="logo"  (click)='clickOn()'>
                RedField
            </div>
            <div class="menu">
                <ul class="navMenu">
                    <li><a >My Offers</a></li>
                    <li><a (click)='rediracteToMyOff()' >My Profile</a></li>
                    <li><a (click)= 'clickIn()' >Offers</a></li>
                    <li><a  >Sign out</a></li>
<app-userprofile></app-userprofile>
                </ul>
            </div>
        </div>
    </div>
</div>

